1.Explain the key features of Python that make it a popular choice for programming

Answer - Python is a highly popular programming language due to several key features that make it versatile, easy to learn, and powerful. Here are some of the key features that make it a popular choice for programming
-Pythonâ€™s syntax is clear and easy to read, which makes it an excellent choice for beginners.
-This extensive library reduces the need to write code from scratch, speeding up the development process.
-Python is an interpreted language,Object-Oriented and Functional Programming andCross-Platform Compatibility.

2.Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Answer - Predefined keywords in Python are reserved words that have special meanings and serve specific purposes in the language. These keywords define the syntax and structure of Python programs and cannot be used as identifiers (e.g., variable names, function names).Ex - False,None,True,and,as,assert,break,continue,elif,else,if,for,while,is,in,etc.

3. Compare and contrast mutable and immutable objects in Python with examples.

Answer - Mutable Objects-Mutable objects are those that can be changed after they are created.examples of mutable objects include lists, dictionaries, sets, and byte arrays.

Immutable Objects - Immutable objects are those that cannot be changed once they are created.examples of immutable objects include integers, floats, strings, tuples.

4. Discuss the different types of operators in Python and provide examples of how they are used.

Answer - Python have a variety of operators that are used to perform operations on variables and values. They are -Arithmetic Operators,Bitwise Operators,Assignment Operators,Identity Operators,Comparison Operators,Logical Operators.

5.  Explain the concept of typecasting in Python with examples.

Answer - Typecasting, also known as type conversion, is the process of converting one data type to another. In Python, this can be done using built-in functions. Typecasting is useful when you need to perform operations that require data to be in a specific type. There are two types of typecasting in Python.
-1. Implicit Type Casting - Implicit type casting is automatically performed by the Python interpreter without any explicit instruction from the programmer. This usually happens when Python automatically converts one data type to another to avoid data loss in expressions involving mixed types.

2-Explicit Typecasting- Explicit typecasting (also known as type conversion) is done manually by the programmer using built-in functions to convert one data type to another. This type of typecasting must be specified explicitly in the code.


6.  How do conditional statements work in Python? Illustrate with examples.

Answer - Conditional statements in Python allow you to execute certain blocks of code based on specific conditions. The conditional statements in Python are if, elif, and else.
7.  Describe the different types of loops in Python and their use cases with examples.

Answer - In Python, there are primarily two types of loops: for loops and while loops.

In [2]:
#2nd
#DESCRIBES THE ROLE OF PREDEFINED KEYWORD
#IF,ELSE,ELIF ARE DEFINED
x=10
if x >0:
  print("x is positive")
elif x==0:
  print("x is zero")
else:
  print("x is negative")

x is positive

In [3]:
#some other key words
for i in range(5):
  if i == 3:
    break
  print(i)

0
1
2

In [9]:
j=0
while j < 5:
  j += 1
  if j == 2:
    continue
  print(j)

1
3
4
5

In [16]:
#2nd
#mutable
#list
my_list= [1,2,3]
my_list

[1, 2, 3]

In [19]:
my_list.append("shweta")
my_list

[1, 2, 3, 'shweta']

In [20]:
#dictionary
Dict={"empl1":123,"empl2":456}
Dict["emple3"]=678
Dict

{'empl1': 123, 'empl2': 456, 'emple3': 678}

In [21]:
#SET
my_set={1,1,3,4,"shweta"}
my_set.add("shivam")
my_set

{1, 3, 4, 'shivam', 'shweta'}

In [22]:
#IMMUTABLE
#INTEGER
my_int = 5
#my_int=6 is a reassignment,not a modification
my_int

5

In [23]:
#string
name="Ansh"
new_name =name.replace("n","u")
print(name)
print(new_name)

Ansh
Aush

In [25]:
#tuple
my_tuple = (1,2,3,4,5)
new_tuple=my_tuple +(6,7,8)
print(my_tuple)
print(new_tuple)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)

In [26]:
#4th
#different types of operators
#Arithmetic operators
#addition
5+10

15

In [27]:
#subtraction
60-45

15

In [28]:
#multiplication
40*5

200

In [29]:
#assignment operators
x=79
x

79

In [31]:
x *=3
x

711

In [32]:
x >>=60
x

0

In [33]:
#comparison operators
x=5
y=6
print(x==y)

False

In [34]:
x<=y

True

In [36]:
#logical
x=5
print(x>4 and x<10)

True

In [38]:
#TYPE CASTING
#CONVERTING FLOAT TO INTEGER
X=5.89
type(x)

int

In [40]:
y=int(x)
y

5

In [42]:
type(y)

int

In [43]:
#string to integer
s="234"
z=int(s)
z

234

In [45]:
#integer to string
a="10"
s=int(a)
s

10

In [46]:
#CONDITIONAL STATEMENTS
#if,elif,else
age =18
if age >=18:
  print("u are eligible for voting")
elif age==18:
  print("u are voting 1st time")
else:
  print("u r n adult")

u are eligible for voting

In [48]:
age =2
if age >=18:
  print("u are eligible for voting")
elif age==18:
  print("u are voting 1st time")
else:
  print("pahle bade ho jao")

pahle bade ho jao

In [49]:
age =35
if age >=18:
  print("u are eligible for voting")
elif age==18:
  print("u are voting 1st time")
else:
  print("u r n adult")

u are eligible for voting

In [50]:
#loop
#for loop
for i in range(0,9):
  print(i)

0
1
2
3
4
5
6
7
8

In [55]:
for char in "shweta":
  print(char)

s
h
w
e
t
a

In [56]:
#WHILE LOOP
i=0
while i<10:
  print(i)
  i+= 1

0
1
2
3
4
5
6
7
8
9